<div class="header">
    <div class="header-content">
        <div class="header-left">
            <!-- <ul>
                    <li class="icons position-relative"><a href="javascript:void(0)"><i
                                class="icon-magnifier f-s-16"></i></a>
                        <div class="drop-down animated bounceInDown">
                            <div class="dropdown-content-body">
                                <div class="header-search" id="header-search">
                                    <form action="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <div class="input-group-append"><span class="input-group-text"><i
                                                        class="icon-magnifier"></i></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul> -->
        </div>
        <div class="header-right">
            <ul>
                <li class="icons">
                    <a href="javascript:void(0)" class="log-user">
                        <img src="../../assets/images/avatar/1.jpg" alt=""> <span>User Name</span> <i
                            class="fa fa-caret-down f-s-14" aria-hidden="true"></i>
                    </a>
                    <div class="drop-down dropdown-profile animated bounceInDown">
                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="#"><i class="icon-user"></i> <span>My Profile</span></a>
                                </li>
                                <li><a href="#"><i class="icon-wallet"></i> <span>My Wallet</span></a>
                                </li>
                                <li><a href="#"><i class="icon-power"></i> <span>Logout</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>