/* Background */

/* Login page */
#login-page, #register-page {
    background-color: antiquewhite;
}

/* date */
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.input-group>.input-group-prepend {
    flex: 0 0 50px;
}
.input-group .input-group-text {
    width: 100%;
    padding: auto;
}